<h1>Book Collection</h1>
<%= link_to('Add Book', {controller: 'books', action: 'new'})%>
<%= link_to(' Book', {controller: 'books', action: 'new'})%>
<%= link_to('Add Book', {controller: 'books', action: 'new'})%>
<%= link_to('Add Book', {controller: 'books', action: 'new'})%>